name: Generate PlantUML Diagrams
on:
  push:
    paths:
      - '**.puml' # Trigger nur bei Änderungen an PlantUML-Dateien
jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Render PlantUML
        uses: grassedge/generate-plantuml-action@v1.5
        with:
          path: 'diagrams' # Zielordner für die Bilder
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Auto-Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update rendered PlantUML diagrams"
